@media (min-width:1300px){
    .my-account aside.fixed {
        width: 12%;
        top: 80px;
    }
}
@media (min-width:1200px) and (max-width:1400px){
    .pricing-table .package-details ul li{
        font-size: 12px;
    }
    .admin-users-index .account-info .top-box-btm p {
        font-size: 12px;
    }
    .admin-users-index .account-info .top-box-btm p span {
        font-size: 14px;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .pricing-table .package-details ul li{
        font-size: 12px;
    }
    .pricing-table .package-pricing ul li{
        font-size: 12px;
    }
    .pricing-table .package-details .pricing-heading h1{
        font-size: 25px;
    }
    .pricing-table .package-pricing .pricing-heading h1{
        font-size: 25px;
    }
    .my-account .manage .rightside-box{
        margin-top: 25px !important;
    }
    .my-account .rightside-box .profile{
        position: unset;
    }
    .my-account .manage .formpanel {
        margin-top: 0px;
    }
    .my-account aside.fixed {
        width: 212.5px;
    }
    .profile-header .main-heading{
        font-size: 20px;
    }
    .profile-header .sub-heading{
        font-size: 16px;
    }
    .my-account .form-control{
        font-size: 13px;
    }
    .admin-users-index .account-info .top-box-btm p{
        font-size: 10px;
    }
    .admin-users-index .account-info .top-box-btm p span{
        font-size: 11px;
    }
    .admin-users-index .mailbox-env .box .main-title{
        font-size: 14px;
    }
    .admin-users-index .mailbox-env .box .job_title{
        font-size: 13px;
    }
    .admin-users-index .mailbox-env .box input.form-control{
        font-size: 12px;
    }
    .text-shorting h1 strong{
        font-size: 14px;
    }
    .admin-users-index .actively-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-still-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-not-looking{
        padding: 0 12px; 
    }
    .skills-sec .skills-list li{
        margin-bottom: 5px;
    }
    .bottom-box .last-login span i, .bottom-box .last-login span em{
        font-size: 11px;
    }
    .bottom-box .featured-tag{
        font-size: 12px;
        padding: 4px 25px;
    }
    .bottom-box .featured-tag:before, .bottom-box .featured-tag:after{
        font-size: 11px;
        top: 6px;
    }
    .job-header .jobinfo .candidateinfo .title{
        font-size: 20px;
    }
    .job-header .jobinfo .candidateinfo .desi {
        font-size: 14px;
    }
    .job-header .jobinfo .candidateinfo .loctext{
        font-size: 12px;
    }
    .employer-cv-view .loctext span{
        font-size: 11px;
    }
    .jobdetail h3 {
        font-size: 16px;
        text-transform: uppercase;
    }
    .jobdetail .notes textarea {
        max-width: 100%;
    }
    .fright span {
        margin-top: 24px;
    }
    .contact_details strong {
        line-height: 24px;
    }
}
@media (min-width:768px) and (max-width:992px){
    .my-account .manage .rightside-box{
        margin-top: 25px !important;
    }
    .my-account .rightside-box .profile{
        position: unset;
        left: 0px;
        right: 0px;
        display: grid;
    }
    .my-account .rightside-box .profile .profile-header {
        float: left;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .my-account .manage .formpanel {
        margin-top: 0px;
    }
    .my-account aside.fixed {
        width: 157.5px;
    }
    .profile-header .main-heading{
        font-size: 20px;
    }
    .profile-header .sub-heading{
        font-size: 16px;
    }
    .my-account .form-control{
        font-size: 13px;
    }
    .navbar-nav>li, .navbar-header {
        float: none !important;
    }
    .navbar-nav{
        width: 100%;
        background: #e7e7e7;
        text-align: left;
    }
    .navbar-nav>li, .navbar-header{
        padding: 12px 15px;
        margin-right: 0px;
        transition: all ease-in-out 300m;
        display: block;
    }
    .navbar-nav>li, .navbar-header {
        float: none;
        display: block;
        padding: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #96969626;
        text-align: left;
        margin-right: 0 !important;
    }
    .navbar-nav>li a:hover, .navbar-nav>li.active a{
        background-color: #0d5f96 !important;
        color: white !important;
    }
    .navbar-default .nav>li:hover>a:after, .navbar-default .nav>li.active>a:after{
        display: none;
    }
    .navbar-default .nav>li>a{
        padding: .5rem 1rem;
        width: 100%;
    }
    .navbar-toggle {
        display: block;
        margin-top: 13px;
        margin-bottom: 0;
    }
    .site-logo{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        width: fit-content;
        float: left;
    }
    .site-logo img{
        width: 65%;
    }
    .navbar .sign-out{
        display: inline-block;
        float: right;
        position: absolute;
        right: 80px;
        top: 18px;
    }
    .navbar .sign-out button{
        background: white;
        border: 1px solid white;
        padding: 6px 9px;
        margin-top: -3px;
    }
    .admin-users-index .account-info .top-box-btm p{
        font-size: 10px;
    }
    .admin-users-index .account-info .top-box-btm p span{
        font-size: 11px;
    }
    .admin-users-index .mailbox-env .box .main-title{
        font-size: 14px;
        cursor: pointer;
    }
    .admin-users-index .mailbox-env .box .job_title{
        font-size: 14px;
        border-bottom: 0px solid #d5d3d3;
        padding: 11px 15px;
        margin-bottom: 5px;
        background: #343e44;
        color: #fff;
    }
    .admin-users-index .mailbox-env .box input.form-control{
        font-size: 12px;
    }
    .text-shorting h1 strong{
        font-size: 14px;
    }
    .admin-users-index .actively-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-still-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-not-looking{
        padding: 0 12px; 
    }
    .skills-sec .skills-list li{
        margin-bottom: 5px;
    }
    .bottom-box .last-login span i, .bottom-box .last-login span em{
        font-size: 11px;
    }
    .bottom-box .featured-tag{
        font-size: 12px;
        padding: 4px 25px;
    }
    .bottom-box .featured-tag:before, .bottom-box .featured-tag:after{
        font-size: 11px;
        top: 6px;
    }
    .page_listing #leftdiv{
        padding-left: 0px;
    }
    .page_listing .tab-image{
        margin-left: 10px;
    }
    .search-desktop-view{
        display: none;
    }
    .search-mobile-view{
        display: block;
    }
    .search-mobile-view .modal-dialog {
        width: 45%;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .admin-users-index .account-info{
        margin-top: 15px;
    }
    .admin-users-index .account-info .top-box-btm{
        text-align: center;
        padding: 0;
    }
    .admin-users-index .account-info .top-box-btm .blft{
        text-align: center;
        border: none;
        border-top: 1px solid #56c1fa;
    }
    .admin-users-index .account-info .top-box-btm .brit{
        text-align: center;
        border: none;
        border-bottom: 1px solid #56c1fa;
    }
    .form-control.select2-container .select2-choices{
        max-height: 50px;
        padding: 5px 2px;
        overflow-y: scroll;
    }
    .select2-container-multi .select2-choices .select2-search-field input{
        box-shadow: none;
    }
    .job-header .jobinfo .candidateinfo .title{
        font-size: 20px;
    }
    .job-header .jobinfo .candidateinfo .desi {
        font-size: 14px;
    }
    .job-header .jobinfo .candidateinfo .loctext{
        font-size: 12px;
    }
    .employer-cv-view .loctext span{
        font-size: 11px;
    }
    .jobdetail h3 {
        font-size: 16px;
        text-transform: uppercase;
    }
    .jobdetail .notes textarea {
        max-width: 100%;
    }
    .fright span {
        margin-top: 24px;
    }
    .contact_details strong {
        line-height: 24px;
    }
    .cv-work-experience .inner-tbl1 tr{
        display: grid;
        float: left;
        width: 50%;
    }
    .cv-work-experience .inner-tbl1 tr:nth-child(2){
        border-left: 0px;
    }
    .cv-work-experience .inner-tbl1 tr td{
        padding: 10px 15px;
        border-left: 0;
        overflow-y: scroll;
        max-height: 39px;
    }
    .cv-work-experience .inner-tbl1 tr td::-webkit-scrollbar{
        display: none;
    }
    .admin-users-index table.current-package tr{
        display: grid;
        float: left;
        width: 50%;
    }
    .admin-users-index table.current-package tr td,  .admin-users-index table.current-package tr th{
        border-bottom: 1px solid #e6e4e4 !important;
    }
    .admin-users-index table.current-package tr td{
        overflow-y: scroll;
        max-height: 38px;
        padding: 10px !important;
    }
    .admin-users-index table.current-package tr td::-webkit-scrollbar{
        display: none;
    }
    table.current-package tr td:last-child a{
        padding: 0px;
    }
    .admin-users-index .table-responsive{
        border: none;
    }
    .packages-index .package-status .pack-head{
        font-size: 11px;
    }
}
@media (min-width:578px) and (max-width:768px){
    .admin-users-index .account-info .top-box-btm p{
        font-size: 10px;
    }
    .admin-users-index .account-info .top-box-btm p span{
        font-size: 11px;
    }
    .admin-users-index .mailbox-env .box .main-title{
        font-size: 14px;
        cursor: pointer;
    }
    .admin-users-index .mailbox-env .box .job_title{
        font-size: 14px;
        border-bottom: 0px solid #d5d3d3;
        padding: 11px 15px;
        margin-bottom: 5px;
        background: #343e44;
        color: #fff;
    }
    .admin-users-index .mailbox-env .box input.form-control{
        font-size: 12px;
    }
    .text-shorting h1 strong{
        font-size: 14px;
    }
    .admin-users-index .actively-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-still-looking{
        padding: 0 12px; 
    }
    .admin-users-index .employed-not-looking{
        padding: 0 12px; 
    }
    .skills-sec .skills-list li{
        margin-bottom: 5px;
    }
    .bottom-box .last-login span i, .bottom-box .last-login span em{
        font-size: 11px;
    }
    .bottom-box .featured-tag{
        font-size: 12px;
        padding: 4px 25px;
    }
    .bottom-box .featured-tag:before, .bottom-box .featured-tag:after{
        font-size: 11px;
        top: 6px;
    }
    .page_listing #leftdiv{
        padding-left: 0px;
    }
    .page_listing .tab-image{
        margin-left: 10px;
    }
    .search-desktop-view{
        display: none;
    }
    .search-mobile-view{
        display: block;
    }
    .refid{
        position: relative;
        top: 0;
    }
    .candidate .sorting_content .contact_details.vissible-xs span{
        position: absolute;
        right: 0;
        top: 0;
    }
    .admin-users-index .page_listing .button-box{
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        padding: 10px 20px 10px 20px;
    }
    .admin-users-index .page_listing .button-div{
        padding: 10px 20px 10px 20px;
        padding-top: 10px !important;
        width: 100%;
        border: none;
    }
    .search-mobile-view .modal-dialog {
        width: 55%;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .admin-users-index .account-info{
        margin-top: 15px;
    }
    .admin-users-index .account-info .top-box-btm{
        text-align: center;
        padding: 0;
    }
    .admin-users-index .account-info .top-box-btm .blft{
        text-align: center;
        border: none;
        border-top: 1px solid #56c1fa;
    }
    .admin-users-index .account-info .top-box-btm .brit{
        text-align: center;
        border: none;
        border-bottom: 1px solid #56c1fa;
    }
    .form-control.select2-container .select2-choices{
        max-height: 50px;
        padding: 5px 2px;
        overflow-y: scroll;
    }
    .select2-container-multi .select2-choices .select2-search-field input{
        box-shadow: none;
    }
    .job-header .jobinfo .candidateinfo .title{
        font-size: 20px;
    }
    .job-header .jobinfo .candidateinfo .desi {
        font-size: 14px;
    }
    .job-header .jobinfo .candidateinfo .loctext{
        font-size: 12px;
    }
    .employer-cv-view .loctext span{
        font-size: 11px;
    }
    .jobdetail h3 {
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 0;
    }
    .jobdetail .notes textarea {
        max-width: 100%;
    }
    .fright span {
        margin-top: 24px;
    }
    .contact_details strong {
        line-height: 24px;
    }
    .job-header .jobinfo .candidateinfo.cont-right{
        border-left: 0px;
        border-top: 1px solid #e4e4e4;
        padding: unset;
        padding-left: 0px;
        padding-top: 15px;
    }
    /*    .cv-work-experience .inner-tbl1 tr{
            display: grid;
            float: left;
            width: 50%;
        }
        .cv-work-experience .inner-tbl1 tr:nth-child(2){
            border-left: 0px;
        }
        .cv-work-experience .inner-tbl1 tr td{
            padding: 10px 15px;
            border-left: 0;
            overflow-y: scroll;
            max-height: 39px;
        }
        .cv-work-experience .inner-tbl1 tr td::-webkit-scrollbar{
            display: none;
        }*/
    .admin-users-index table.current-package tr{
        display: grid;
        float: left;
        width: 50%;
    }
    .admin-users-index table.current-package tr td,  .admin-users-index table.current-package tr th{
        border-bottom: 1px solid #e6e4e4 !important;
    }
    .admin-users-index table.current-package tr td{
        overflow-y: scroll;
        max-height: 38px;
        padding: 10px !important;
    }
    .admin-users-index table.current-package tr td::-webkit-scrollbar{
        display: none;
    }
    table.current-package tr td:last-child a{
        padding: 0px;
    }
    .admin-users-index .table-responsive{
        border: none;
    }
    .packages-index .package-status .pack-head{
        font-size: 11px;
    }
    .packages-index .package-status .pl0{
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .packages-index .package-status .pr0{
        padding-right: 10px;
    }
    .packages-index a.button1{
        float: left !important;
    }
}
@media only screen and (max-width:578px){
    .admin-users-index .account-info .top-box-btm p{
        font-size: 10px;
    }
    .admin-users-index .account-info .top-box-btm p span{
        font-size: 11px;
    }
    .admin-users-index .mailbox-env .box .main-title{
        font-size: 14px;
        cursor: pointer;
    }
    .admin-users-index .mailbox-env .box .job_title{
        font-size: 14px;
        border-bottom: 0px solid #d5d3d3;
        padding: 11px 15px;
        margin-bottom: 5px;
        background: #343e44;
        color: #fff;
    }
    .admin-users-index .mailbox-env .box input.form-control{
        font-size: 12px;
    }
    .text-shorting h1 strong{
        font-size: 14px;
    }
    .admin-users-index .actively-looking{
        padding: 0 12px; 
        font-size: 10px;
    }
    .admin-users-index .employed-still-looking{
        padding: 0 12px; 
        font-size: 10px;
    }
    .admin-users-index .employed-not-looking{
        padding: 0 12px; 
        font-size: 10px;
    }
    .skills-sec .skills-list li{
        margin-bottom: 5px;
    }
    .bottom-box .last-login span i, .bottom-box .last-login span em{
        font-size: 11px;
    }
    .bottom-box .featured-tag{
        font-size: 12px;
        padding: 4px 25px;
    }
    .bottom-box .featured-tag:before, .bottom-box .featured-tag:after{
        font-size: 11px;
        top: 6px;
    }
    .page_listing #leftdiv{
        padding-left: 0px;
    }
    .page_listing .tab-image{
        margin-left: 10px;
    }
    .search-desktop-view{
        display: none;
    }
    .search-mobile-view{
        display: block;
    }
    .search-mobile-view .modal-dialog {
        width: 80%;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .refid{
        position: relative;
        top: 0;
    }
    .candidate .sorting_content .contact_details.vissible-xs span{
        position: absolute;
        right: 0;
        top: 0;
    }
    .admin-users-index .page_listing .button-box{
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        padding: 10px 15px 10px 15px !important;
    }
    .admin-users-index .page_listing .button-box .button-sec {
        margin-top: 0px; 
    }
    .candidate .sorting_content .bottom_text{
        border: none;
    }
    .admin-users-index .page_listing .button-div{
        padding: 10px 15px 10px 15px;
        padding-top: 10px !important;
        width: 100%;
        border: none;
    }
    .admin-users-index .page_listing .bottom-box .last-login{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
    }
    .admin-users-index .page_listing .bottom-box .last-login:last-child{
        border: none;
    }
    .admin-users-index .account-info{
        margin-top: 15px;
    }
    .admin-users-index .account-info .top-box-btm{
        text-align: center;
        padding: 0;
    }
    .admin-users-index .account-info .top-box-btm .blft{
        text-align: center;
        border: none;
        border-top: 1px solid #56c1fa;
    }
    .admin-users-index .account-info .top-box-btm .brit{
        text-align: center;
        border: none;
        border-bottom: 1px solid #56c1fa;
    }
    .form-control.select2-container .select2-choices{
        max-height: 50px;
        padding: 5px 2px;
        overflow-y: scroll;
    }
    .select2-container-multi .select2-choices .select2-search-field input{
        box-shadow: none;
    }
    .admin-users-index .contact_details .firm li{
        font-size: 11px;
    }
    .sorting_content:hover {
        border-left: 1px solid #e1e1e1;
        border-top: 3px solid #2caef4;
    }
    .job-header .jobinfo .candidateinfo .title{
        font-size: 20px;
    }
    .job-header .jobinfo .candidateinfo .desi {
        font-size: 14px;
    }
    .job-header .jobinfo .candidateinfo .loctext{
        font-size: 12px;
    }
    .employer-cv-view .loctext span{
        font-size: 11px;
    }
    .jobdetail h3 {
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 0;
    }
    .jobdetail .notes textarea {
        max-width: 100%;
    }
    .fright span {
        margin-top: 24px;
    }
    .contact_details strong {
        line-height: 24px;
    }
    .job-header .jobinfo .candidateinfo.cont-right{
        border-left: 0px;
        border-top: 1px solid #e4e4e4;
        padding: unset;
        padding-left: 0px;
        padding-top: 15px;
    }
    .cv-work-experience .inner-tbl1 tr{
        display: grid;
        float: left;
        width: 50%;
    }
    .cv-work-experience .inner-tbl1 tr:nth-child(2){
        border-left: 0px;
    }
    .cv-work-experience .inner-tbl1 tr td{
        padding: 10px 15px;
        border-left: 0;
        overflow-y: scroll;
        max-height: 39px;
    }
    .cv-work-experience .inner-tbl1 tr td::-webkit-scrollbar{
        display: none;
    }
    .cv-work-experience .contact_details .fright{
        float: left;
    }
    .cv-work-experience .contact_details .fright span{
        margin-top: 10px;
    }
    .job-header .jobinfo .candidateinfo{
        padding-bottom: 10px;
    }
    .job-header .jobinfo .candidateinfo .userPic{
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .package-details .button1{
        width: 100%;
        margin-bottom: 10px;
    }
    .admin-users-index .employee-create .btn-success{
        width: 100%;
    }
    .admin-users-index table.current-package tr{
        display: grid;
        float: left;
        width: 50%;
    }
    .admin-users-index table.current-package tr td,  .admin-users-index table.current-package tr th{
        border-bottom: 1px solid #e6e4e4 !important;
    }
    .admin-users-index table.current-package tr td{
        overflow-y: scroll;
        max-height: 38px;
        padding: 10px !important;
    }
    .admin-users-index table.current-package tr td::-webkit-scrollbar{
        display: none;
    }
    table.current-package tr td:last-child a{
        padding: 0px;
    }
    .admin-users-index .table-responsive{
        border: none;
    }
    .packages-index .package-status{
        padding: 0px;
    }
    .packages-index .package-status .pack-head{
        font-size: 11px;
    }
    .packages-index .package-status .pl0{
        padding: 0px;
        margin-bottom: 5px;
    }
    .packages-index .package-status .pr0{
        padding: 0px;
    }
    .packages-index .button1{
        width: 100%;
        margin-bottom: 5px;
    }
    .packages-index a.button1{
        float: left !important;
        margin-bottom: 0px;
    }
    .shortlisted-folder{
        padding-left: 0px;
    }
}

@media (min-width:600px) and (max-width:768px){
    .my-account .manage .rightside-box{
        margin-top: 25px !important;
    }
    .my-account .rightside-box .profile{
        position: unset;
        left: 0px;
        right: 0px;
        display: grid;
    }
    .my-account .rightside-box .profile .profile-header {
        float: left;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .my-account .manage .formpanel {
        margin-top: 0px;
    }
    .my-account aside.fixed {
        width: 157.5px;
    }
    .profile-header .main-heading{
        font-size: 20px;
    }
    .profile-header .sub-heading{
        font-size: 16px;
    }
    .my-account .form-control{
        font-size: 13px;
    }
    .navbar-nav>li, .navbar-header {
        float: none !important;
    }
    .navbar-nav{
        width: 100%;
        background: #e7e7e7;
        text-align: left;
    }
    .navbar-nav>li, .navbar-header{
        padding: 12px 15px;
        margin-right: 0px;
        transition: all ease-in-out 300m;
        display: block;
    }
    .navbar-nav>li, .navbar-header {
        float: none;
        display: block;
        padding: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #96969626;
        text-align: left;
        margin-right: 0 !important;
    }
    .navbar-nav>li a:hover, .navbar-nav>li.active a{
        background-color: #0d5f96 !important;
        color: white !important;
    }
    .navbar-default .nav>li:hover>a:after, .navbar-default .nav>li.active>a:after{
        display: none;
    }
    .navbar-default .nav>li>a{
        padding: .5rem 1rem;
        width: 100%;
    }
    .navbar-toggle {
        display: block;
        margin-top: 13px;
        margin-bottom: 0;
    }
    .site-logo{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        width: fit-content;
        float: left;
    }
    .site-logo img{
        width: 65%;
    }
    .navbar .sign-out{
        display: inline-block;
        float: right;
        position: absolute;
        right: 35px;
        top: 3px;
        background: transparent;
        border: none;
    }
    .navbar .sign-out:hover, .navbar .sign-out:focus{
        background: transparent;
    }
    .navbar .sign-out i{
        top: 2px;
        background: #00adf1;
        color: #fff;
        padding: 5px 5px;
    }
    .navbar .sign-out button{
        background: white;
        border: 1px solid white;
        padding: 6px 9px;
        margin-top: -3px;
    }
    .navbar .sign-out button i{
        font-size
    }
    .my-account aside.fixed{
        position: unset;
        width: 100%;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .wysihtml5-sandbox{
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    .my-account .manage .rightside-box{
        margin-top: 25px !important;
    }
    .my-account .rightside-box .profile{
        position: unset;
        left: 0px;
        right: 0px;
        display: grid;
    }
    .my-account .rightside-box .profile .profile-header {
        float: left;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .my-account .manage .formpanel {
        margin-top: 0px;
    }
    .my-account aside.fixed {
        width: 157.5px;
    }
    .profile-header .main-heading{
        font-size: 20px;
    }
    .profile-header .sub-heading{
        font-size: 16px;
    }
    .my-account .form-control{
        font-size: 13px;
    }
    .navbar-nav>li, .navbar-header {
        float: none !important;
    }
    .navbar-nav{
        width: 100%;
        background: #e7e7e7;
        text-align: left;
    }
    .navbar-nav>li, .navbar-header{
        padding: 12px 15px;
        margin-right: 0px;
        transition: all ease-in-out 300m;
        display: block;
    }
    .navbar-nav>li, .navbar-header {
        float: none;
        display: block;
        padding: 0px;
        margin-right: 0px;
        border-bottom: 1px solid #96969626;
        text-align: left;
        margin-right: 0 !important;
    }
    .navbar-nav>li a:hover, .navbar-nav>li.active a{
        background-color: #0d5f96 !important;
        color: white !important;
    }
    .navbar-default .nav>li:hover>a:after, .navbar-default .nav>li.active>a:after{
        display: none;
    }
    .navbar-default .nav>li>a{
        padding: .5rem 1rem;
        width: 100%;
    }
    .navbar-toggle {
        display: block;
        margin-top: 13px;
        margin-bottom: 0;
    }
    .site-logo{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        width: fit-content;
        float: left;
    }
    .site-logo img{
        width: 65%;
    }
    .navbar .sign-out{
        display: inline-block;
        float: right;
        position: absolute;
        right: 35px;
        top: 8px;
    }
    .navbar .sign-out button{
        background: white;
        border: 1px solid white;
        padding: 6px 9px;
        margin-top: -3px;
    }
    .navbar .sign-out button i{
        font-size
    }
    .my-account aside.fixed{
        position: unset;
        width: 100%;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .wysihtml5-sandbox{
        width: 100%;
    }
}

/**************media Query************/
@media (max-width:1199px){
    .navbar-nav>li{
        margin-right: 5px;
    }
    .navbar-default .nav>li>a {
        padding: 14px 11px 5px;
    }
    .page-heading2 h1 {
        font-size: 45px;
    }
    .job_title{
        font-size: 18px;
    }
    .facebook{
        font-size: 14px;
    }
    .employe_list .nav-tabs2>li>a {
        padding: 10px 10px;
    }
    .Resume, .Resume p{
        padding-bottom: 0px;
        line-height: 20px;
    }
    .testi-box:after{ right: 20%;}
    .testi-box:before{ left: 25%;}
}
@media (max-width:991px){
    .navbar-default .nav>li>a {
        padding: 14px 11px;
    }
    .navbar-toggle {
        display: block;
        margin-top: 13px;
        margin-bottom: 0;
    }
    .site-logo{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        width: fit-content;
        float: left;
    }
    .site-logo img{
        width: 65%;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav>li, .navbar-header {
        float: none;
    }
    .modal-dialog {
        width: 398px;
        margin: 30px auto;
    }
    .btn-search {
        top: 113px;
    }
    .tab-content {
        margin-bottom: 30px;
    }
    .table>tbody>tr>td h1 {
        font-size: 13px;
        line-height: 22px;
    }
    .client {
        width: 31%;
        float: left;
        margin-right: 15px;
    }
    .client img, .block1 img{
        margin: 0 auto;
        width: 100%;
    }
    .footer-block {
        width: 30%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-block2 {
        width: 50%;
    }
    .flex-direction-nav .flex-next {
        right: 100px;
        top: 86%;
    }
    .flex-direction-nav .flex-prev{
        left: 100px;
        top: 86%;
    }
    .video-sec, .author, .panel-pricing, .Resume{
        margin-bottom: 30px;
    }
    .p-r {
        padding-left: 0px !important;
    }
    .p-l {
        padding-right: 0px !important;
    }
    .twiiter i{  left: 4px;}
    .google_plus i{  left: 4px;}
    .employe_list .nav-tabs2>li>a {
        padding: 10px 6px;
    }
    .our_site, .success_story, #footer {
        background-position: 100%;
    }
    .header-stricky .col-md-3.text-right {
        margin-top: 0px;
        margin-right: 16px;
    }
    .input-group-btn{ right: 68px;}
    .pricing-table .package-pricing .pricing-heading h5{
        font-size: 22px;
    }
    .pricing-table .package-pricing{
        margin: 0 15px;
        margin-bottom: 115px;
    }
    .pricing-table .package-pricing ul li{
        border-left: 1px solid #e2e2e2;
    }
    .pricing-table .package-pricing{
        position: relative;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);   
    }
    .pricing-table .package-pricing:hover{
        box-shadow: 0px 0px 8px #00000054;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.1);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.1);
        transition: all 200ms ease-in;
        transform: scale(1.1);
    }
}
@media (max-width:767px){ 
    .xlpl0{
        padding-left: 0px;
    }
    .overflow .fact-box {
        margin-bottom: 30px;
    }
    .footer-bottom, .footer-bottom .col-md-6.col-sm-6.text-right{ 
        text-align: center;
    }
    .page-title h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .page-title .with {
        top: -20px;
    }
    .client {
        width: 49%;
        margin-right: 5px;
    }
    .tab-image {
        float: none;
        margin-right: 0;
        margin-bottom: 15px;
    }
    header{
        width: auto;
    }
    [data-wysihtml5-command], [data-wysihtml5-action], .fore-color{ width: 57px;}
    .footer-block {
        float: none;
        width: 100%;
    }
    .btn-info {
        margin-bottom: 15px;
    }
    .text-shorting .work-time {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .employe_list .nav-tabs2>li {
        float: none;
        display: inline-block;
    }
    .employe_list .nav-tabs2>li>a {
        padding: 10px 14px;
    }
    .table>tbody>tr>td{ vertical-align: super;}
    .btn-search {
        top: 0;
        left: 0;
        position: relative;
    }
    .navbar-nav .open .dropdown-menu{
        background-color: #033036;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #7eabb0;
        padding: 7px 20px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{ color: #fff; background: transparent;}
    .header-stricky .col-md-3.text-right{ margin-right: 0px;}

    .table .candidate-list{
        position: relative;
    }
    .table .candidate-list .mob-pos{
        position: absolute;
        top: 0px;
        right: 0;
        width: 20%;
    }
    .table .candidate-list .mob-pos .action-box{
        display: flex;
    }
    .table .candidate-list .mob-pos .action-box .refid{
        top: 0px;
        right: 0px;
    }
    .table .candidate-list .mob-pos .action-box strong{
        width: 92%;
    }
    .table .candidate-list .action-box .action-btn{
        margin-top: 40px;
    }
    .pricing-table .package-pricing:hover{
        box-shadow: none;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
    }
}
@media (max-width:545px){ 
    .xlpl0{
        padding-left: 0px;
    }
    .client {
        width: 100%;
    }
}
@media (max-width:480px){ 
    .flex-direction-nav .flex-next {
        right: 30px;
    }
    .flex-direction-nav .flex-prev{
        left: 30px;
    }
    .banner-heading{ font-size: 23px;}
    ul.follow li{     
        margin-right: 3px;
        width: 40px;
        height: 40px;
        line-height: 43px;
    }
    .register{ width: 100%;}
    .register.job{ margin-left: 0px; margin-top: 10px;}
    .input-group-btn {
        right: 73px;
    }
}