/**
 *
 * Apply your custom CSS here
 *
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
body {
    font-family: 'Montserrat', sans-serif;
}

a {
}
.form-inline .form-group{
    width: 100%;
    margin-bottom: 22px;
    color:#000000;
    margin-left: 5px;
}
.form-group label{
    margin-left: 0px;
    color: black;
    font-weight: bold;
}
.form-control{
    width: 100% !important;
}

.error label{
    color: rgb(209, 113, 72) !important;
}
.error input::-webkit-input-placeholder {
    color: rgb(209, 113, 72);
}
.error input{
    border: 1px solid rgb(209, 113, 72);
}

table{
    font-size: 12px;
    text-align: left;
}
.linker{
    color: #979898;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: -7px;
}
.appoint{
    background-color: #f9f9f9;
    padding-bottom: 8px;
    padding-top: 19px;
    color: black;
}
.row.appoint div {
    padding-left: 0px;
}
.appoint-title{
    width: 95%;
    text-align: center;
}

.has-error .help-block{
    color: #da0000;
}
.nav.nav-tabs>li>a {
    border: none;
    background-color: #b1b5b5;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
.nav.nav-tabs>li>a:hover {
    border: none;
    background-color: #e4e4e4;
}
table th{
    color:#373e4a;
}
table.table tr.filters{
    background-color: #fff;
}
.table-striped>tbody>tr:nth-child(odd) {
    background-color: #f6f6f6;
}
.table-striped>tbody>tr:nth-child(even) {
    background-color: #fff;
    color: #5d5b5b;
    font-size: 13px;
}
.table.table-bordered>thead>tr>td, .table.table-bordered>tbody>tr>td, .table.table-bordered>tfood>tr>td, .table.table-bordered>thead>tr>th, .table.table-bordered>tbody>tr>th, .table.table-bordered>tfood>tr>th{
    border-color: #e6e4e4;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: 1px solid #a7a7a7;
}
.table-responsive[data-pattern=priority-columns]>.table-bordered {
    border: 1px solid #b7b7b7;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 1px solid #b7b7b7;
    background-color: #ffd2d2;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 1px solid #e6e4e4;
    background-color: #fff;
}
.filters .form-control{
    border: 1px solid #afafaf;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfood>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfood>tr>th {
    padding: 6px 15px;
}

table.table tr td:last-child {
    display: inline-flex;
    border: 0;
}
table.table tr td:last-child a {
    padding: 4px;
}
.formm .form-control{
    border: 1px solid #9a9a9a;
    height: 37px;
    color: black;
    font-size: 15px;
}
.portcall {
    color: #0049a0;
    font-size: 16px;
    margin-left: 31px;
    margin-bottom: 12px;
    cursor: pointer;
    text-decoration: underline;
}
.colo.nav.nav-tabs>li>a{
    /*background-color: #b9c7a7;*/
}
.colo.nav.nav-tabs>li.active>a {
    background-color: #f9f9f9;
}
.estimat.nav.nav-tabs>li.active>a {
    border: 0;
    background-color: #e0e0e0;
}
.outterr{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #e0e0e0;
}
html .select2-drop .select2-results li.select2-result-selectable .select2-result-label {
    color: #000000;
    padding-left: 15px;
}
form .form-group .form-control{
    color: #464646;
    font-size: 14px;
    height: 40px;
}
.form-group label{
    color: #484848;
    padding-bottom: 0px;
    font-weight: 500;
}
.form-control {
    border: 1px solid #cacac;
    color: black;
}
.main-heading{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 23px;
    color: #000000;
}
/*.main-content .row {
        margin-left: 0px;
        margin-right: 0px;
}*/
/*.sub-heading{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #0049a0;
}*/
.sub-heading {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #49494c;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.upload_file_list {
    color: #fff !important;
    background-color: #eeeeee;
    border-color: #eeeeee;
    padding: 12px 10px 10px 10px;
    font-size: 13px;
    font-weight: bold;
}
.upload_file_list1 {
    clear: both;
    display: inline-block;
    margin-bottom: 25px;
}
.upload_file_list a:hover {
    text-decoration: none;
    color: #080808;
}

.left-slider-linker{
    background: transparent !important;
    padding-top: 12px;
}
.left-slider-linker:hover{
    color:white !important;
    background: transparent;
}

.sidebar-user-info .user-links li+li a {
    border-left: none;
}
.user-profile-menu .user-header{
    height: 155px;
    padding: 10px;
    text-align: center;
    background: #0d5980;
}
.user-profile-menu .user-header img{
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.user-profile-menu .user-header p{
    z-index: 5;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
}
.sidebar-menu .main-menu a>i {
    width: 15px;
}
/*************************************** Layout Style ****************************/
.user-info-navbar {
    background-color: #ffffff;
}
.user-info-navbar .user-info-menu>li {
    border: 1px solid #ffffff;
}
.user-info-navbar .user-info-menu>li>a {
    padding: 18px 20px;
    color: #2c2e2f;
    border-bottom: none;
}
.sidebar-menu {
    width: 205px;
    background: #fff;
    border-right: 1px solid #eee;
}
.sidebar-menu .main-menu {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}
.sidebar-menu .main-menu a {
    color: #2caef4;
    border-bottom: 1px solid #0a84d2;
    padding-left: 15px; 
    font-size: 12px;
}
.sidebar-menu .logo-env {
    padding: 0px 5px;
    border-bottom: 1px solid #a1a5a9;
    background: #ffffff;
}
.sidebar-menu .logo-env .logo-collapsed h2{
    margin: 5px 0px;
    color: #419d87;
}
.sidebar-menu .logo-env .logo-expanded h2{
    margin: 9px 0px;
    color: #419d87;
}
.sidebar-menu .main-menu a:hover, .sidebar-menu .main-menu li.active a {
    background: #0c6096;
}
.sidebar-menu .main-menu ul {
    background: #003248;
    /* border-bottom: 1px solid #444; */
}
@media screen and (min-width: 768px){
    .sidebar-menu.collapsed .logo-env {
        padding: 4px 0;
    }
}
.page-container .main-content {
    background: #f6f6f6;
}
footer.main-footer {
    border-top: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}
nav.navbar {
    /* border: 0; */
    border-bottom: 1px solid #eee;
}
@media screen and (min-width: 768px){
    .sidebar-menu.collapsed {
        width: 60px;
    }
}
@media screen and (min-width: 768px){
    .sidebar-menu.collapsed .main-menu>li>ul {
        background: #bbbbbb;
        width: 250px;
    }
}
.sidebar-menu.collapsed .main-menu>li>ul {
    background: #003248;
    width: 250px;
}
.grid-view th{
    white-space: nowrap;
}
.grid-view td{
    white-space: nowrap;
}
table.table tr {
    border: 1px solid #e6e4e4;
}
.panel .panel-heading {
    position: relative;
    padding: 0;
    margin: 0;
    background: 0 0;
    font-size: 17px;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(39, 41, 42, 0.46);
}
.panel .panel-heading>.panel-title {
    float: left;
    font-size: 15px;
    font-weight: 600;
}
.panel {
    border-radius: 5px;
    background-color: #fff;
    /*border-top: 2px solid #3c8dbc;*/
    padding: 0 30px;
    border-radius: 0;
}
.control-label{
    color: black;
    padding-top: 8px;
    font-weight: 600;
}
.form-inline .form-group {
    width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.form-group {
    margin-bottom: 40px;
}
.help-block {
    font-size: 11px;
}
.tab-back{
    background: #f7f7f7;
}
.pad-left{
    padding-left: 5px !important;
}
.padd-left{
    padding-left: 22px !important;
}
.page-container .main-content .page-title {
    margin: 0px;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 10px;
}
.index-form .form-group{
    margin-bottom: 0px;
}
.index-form .form-group label{
    margin-left: 0px;
}
.alert {
    padding: 8px;
    border-radius: 3px;
    font-weight: 600;
}
.alert-success {
    background-color: #56b8ec42;
    border-color: #2caef4;
    color: #0474ba;
    font-weight: 400;
}
.btn-larger {
    padding: 6px 20px !important;
    border-radius: 0px;
    font-size: 14px;
    color: #fff;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    letter-spacing: 1px;
    background-color: #2caef3;
    margin-top: 10px;
    width: 117px;
    float: left;
    text-transform: uppercase;
    font-weight: 500;
}
.user-info-navbar .user-info-menu>li.open {
    border-left-color: #d0d0d0;
    border-right-color: #d0d0d0;
    z-index: 15;
}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li.last, .navbar.horizontal-menu .navbar-inner>.nav>li .dropdown-menu.user-profile-menu li.last {
    background: #f8f8f8;
}
.user-info-navbar .user-info-menu>li .dropdown-menu.user-profile-menu li a, .navbar.horizontal-menu .navbar-inner>.nav>li .dropdown-menu.user-profile-menu li a {
    display: block;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding-bottom: 8px;
    /*border-bottom: none;*/
    background: transparent;
}
a {
    color: #57595d;
    text-decoration: none;
}
.new-link-box{
    position: absolute;
    top: 72px;
    right: 10px;
    color: #00bcd4;
    /*display: none;*/
}
.new-link-box:hover{
    color: #00bcd4;
}
.new-contact-link,.new-principals-link{
    position: absolute;
    top: 72px;
    right: 10px;
    color: #00bcd4;
}
.new-contact-link:hover,.new-principals-link:hover{
    color: #00bcd4;
}
.user-info-navbar .user-info-menu>li>a .badge {
    font-size: 9px;
    position: absolute;
    top: 1px;
    right: 6px;
    padding: 4px;
    min-width: 18px;
    font-weight: 400;
    line-height: 1;
}
.mgleft-padd{
    margin-left: 30px;
}
.modal-title{
    color: #b10404;
    font-weight: 600;
}
.modal-content{
    background-color: #ececec;
}

.modal-footer {
    border-top: 2px solid #b7b7b7 !important;
}
.appno-highlite{
    color: #6a7ad2 !important;
}
.user-profile-menu{
    background-color: #f8f8f8;
}
.notifications{
    background-color: #f8f8f8;
}
.my-task{
    background-color: #f8f8f8;
}
.fund-erro{
    color: #c74141;
}
.fund-erroor{
    color: #2196F3;
    font-weight: 600;
}
.sidebar-menu .main-menu ul li ul li a {
    padding-left: 45px;
}
.upload-div{
    text-align: center;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}
.upload-div .upload-box{
    margin: 0 auto;
    width: 179px;
}
.upload-div .form-group{
    margin-bottom: 20px;
}
.btn.btn-icon-standalone span {
    padding-left: 60px;
    padding-right: 25px;
}
.modal-content{
    background: #f9f9f9;
    border-top: 3px solid #bababa;
    border-radius: 5px;
}
.modal-header {
    padding: 0px;
    border-bottom: none;
    min-height: 0px;
}
.modal .modal-dialog .modal-content {
    padding: 0px 30px;
    top: 50px;
}
.modal-content .panel{
    padding: 0px;
    border-top: none;
}
.modal .modal-dialog .modal-content .modal-body {
    padding: 0px;
}.edit-btn {
    border: none;
    background: #f9f9f9;
    font-size: 14px;
}
.daily-entry-span .control-label{
    font-size: 11px;
}
.log-frm {
    border: 1px solid #c5c5c5;
    background: #c5c5c5;
    padding: 20px 10px 0px 10px;
}
.amount-receipt-1 {
    background: #fafafa;
    border: none;
}
#add_another_line {
    color: #2196F3;
    font-size: 11px;
    font-weight: bold;
}
.diplay-amount {
    float: right;
    margin-right: 75px;
    font-weight: bold;
    font-size: 22px;
    color: #3F51B5;
}
.btn-reset {
    margin-top: 18px;
    height: 36px;
    width: 100px;
    font-weight: bold;
}
.sales-invoice-delete {
    margin-top: 10px;
    font-size: 14px;
    color: red;
    cursor: pointer;
}
.percent-styl{
    font-size: 18px;
    position: absolute;
    top: 32%;
    right: 10px;
}
.extra_btn {
    font-weight: 600;
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 12px;
    color: #17a0bf!important;
    border: none;
    border: none ! important;
    background-color: #f9f9f9 !important;
}
.popup-err-msg{
    color: red;
    position: absolute;
    top: 60px;
    left: 15px;
    font-size: 11px;
}
#daily-entry-table .form-control{
    padding: 4px !important;
    font-size: 13px !important;
}
#appointment-table .form-control{
    padding: 4px !important;
    font-size: 12px !important;
    height:  45px !important;
}
.line{
    width: 250px;
}
.line-col{
    color:#2196F3;
}
#modalContent .panel {
    background-color: #f9f9f9;
}
.btn.btn-warning.btn-icon-standalone i{
    background-color: #006f9e;
    border-right-color: #0c85bb;
}
.btn-warning {
    color: #fff;
    background-color: #045a80;
    border-color: #e6a700;
}
.btn-success {
    color: #fff;
    background-color: #006e9e;
    border-color: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 20px;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #045a80;
    border-color: #045a80;
}
.btn.btn-warning.btn-icon-standalone:hover i {
    border-right-color: #0c85bb;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #006e9e;
    border-color: none;
}
.sidebar-menu .main-menu li.has-sub>a:before {
    color: #fff;
}
.grid-view .glyphicon-trash{
    color: #337ab7;
}
.grid-view .glyphicon-pencil{
    color: #337ab7;
}
.grid-view .glyphicon-eye-open{
    color: #337ab7;
}
.grid-view .table>thead>tr>th, .table>thead>tr>th {
    color: #737373;
}
.grid-view .table>thead>tr>th a {
    color: #737373;
}
.mrg-top-btn{
    margin-top: 37px;
}
.invoice-print{
    color: #3091c5;
    font-weight: 600;
    padding: 0px;
}

/**************************** Employer Dashboard Start *********************************/
.mailbox-env .box {
    /*border: 1px solid #e1e1e1;*/
    padding-top: 15px;
    margin-bottom: 30px;
}
.mailbox-env .btn-default {
    background-color: #2caef3;
    padding: 8px 30px;
    color: #fff;
    border-radius: 0px;
    font-weight: 300;
    /* box-shadow: inset 0 -8px 5px -5px rgba(0,0,0,0.4); */
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
}
.shortlist-f-link {
    background: #f3f5f4;
}
.f-right {
    float: right;
}
.shortlist-f-link a {
    color: #2caef3;
    float: right;
}
.mtop8{
    margin-top: 8px;
}
.pbtm5 {
    padding-bottom: 5px;
}
.ptop5 {
    padding-top: 5px !important;
}
.btop {
    border-top: 1px solid #e1e1e1;
}
.brit {
    border-right: 1px solid #e1e1e1;
}
.top-box-btm p {
    margin-bottom: 0px;
    padding: 0px;
    color: #7d7d7d;
    font-size: 13px;
    line-height: 26px;
}
.pad0 {
    padding: 0px !important;
}
.txt-right {
    text-align: right;
}
.blft {
    border-left: 1px solid #e1e1e1;
}
.prit0 {
    padding-right: 0px !important;
}
.p-l {
    padding-left: 0px !important;
}
.page_listing {
    overflow: hidden;
    border-bottom: 0px;
}
.sorting_content:hover{
    box-shadow: 0 0 16px #ccc;
    transition: all .4s ease;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}
.sorting_content {
    border: solid 1px #e1e1e1;
    padding-top: 15px;
    overflow: hidden;
    /* border-bottom: solid 1px #e1e1e1; */
    margin-bottom: 30px;
}
.bottom_text {
    overflow: hidden;
    margin-bottom: 0px;
}
.candidate .sorting_content .button1 {
    float: left;
    padding: 4px 20px 4px;
    font-size: 12px;
    width: 100%;
    color: #6d6d6d;
    display: inline-block;
    border: 1px solid #6d6d6d;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    line-height: 1.5;
}
.candidate .sorting_content .button2 {
    display: block;
    background: #0d96de;
    color: white;
    padding: 15px 0;
    /* cursor: initial; */
    margin-top: 10px;
    position: relative;
    text-align: center;
}
.candidate .sorting_content .button3:hover{
    background: #2caef4;
    color: white;
}
.candidate .sorting_content .button3 {
    float: left;
    padding: 4px 20px 4px;
    font-size: 12px;
    color: #2caef4;
    border-color: #2caef4;
    width: calc(100% - 40px);
    min-width: 88px;
    margin: 0 8px 0 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: inline-block;
    border: 1px solid #2caef4;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    line-height: 1.5;
}
.button5 {
    text-align: center;
    color: #4CAF50;
    padding: 4px 0;
    margin-top: 0px;
    font-weight: 600;
}
.bottom-box {
    display: inline-block;
    border-top: 1px solid #e1e1e1;
    padding: 3px 15px;
    background: #f3f5f4;
}
.filter p{
    padding-top: 3px;
    color: #7d7d7d;
    font-size: 13px;
}
.bottom_text p {
    padding-top: 3px;
    color: #7d7d7d;
    font-size: 13px;
    line-height: 27px;
}
.tab-image img{
    width: 66px;
}
.tab-image {
    float: left;
    text-align: center;
    /*margin-right: 20px;*/
    margin-bottom: 10px;
}
.text-shorting h1 {
    max-height: 2.6em;
    margin-bottom: 0;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 1;
    clear: both;
    margin-top: 0px;
}
ul.unstyled {
    margin: 0px;
    padding: 0px;
    line-height: 25px;
}
ul.unstyled li {
    display: inline-block;
    /*padding: 0 50px 0 0;*/
    color: #7d7d7d;
    font-size: 13px;
}
ul.unstyled li {
    list-style: none;
}
.job-search .form-group {
    margin-bottom: 20px;
}
.contact_details strong{
    line-height: 35px;
}
.candidate .sorting_content .button1 span {
    background: #1b71ba;
    width: 100%;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}
.candidate .sorting_content .button2 span {
    position: absolute;
    top: 5px;
    right: 30px;
    /* float: left; */
    color: #ffffff;
}
.candidate .sorting_content .button3 span {
    position: absolute;
    top: 18px;
    right: 50px;
    /* float: left; */
    color: #ffffff;
}
.job_title {
    color: #333;
    font-size: 15px;
    line-height: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}
.borderfull-width {
    border: solid 1px #e1e1e1;
    position: relative;
    overflow: hidden;
    top: 15px;
    margin: 0 15px 35px 15px;
}
.page-heading {
    padding-bottom: 0px;
    overflow: hidden;
    margin-bottom: 7px;
}
.search-scroll{
    max-height: 112px;
    overflow: hidden;
    padding: 0px 10px 15px 10px;
    border-bottom: 1px solid #e1e1e1;
}
.pad-tp{
    padding-top: 10px;
}
.search-noscroll{
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e1e1e1;
}
.search-scroll:hover{
    overflow-y:scroll;
}
.search-scroll::-webkit-scrollbar {
    width: 8px;
}

.search-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.search-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
​
.page-heading span {
    font-size: 14px;
    color: #7d7d7d;
}
.color-drk {
    color: black !important;
}
.page-heading p {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 26px;
}
.category {
    overflow: hidden;
}
input[type=checkbox], input[type=radio] {
    margin-top: 3px;
    float: left;
    margin-right: 10px;
}
.check-label label{
    display: block !important;
    clear: both !important;
    color: #979898;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.sorting_content strong{
    color:#000000 !important;
}
/**************************** Employer Dashboard End *********************************/
#pack-histry .panel-heading{
    /*    margin: 20px 0px;*/
    border-bottom: none;
    /*color: #000;*/
}
#modal-6 .modal-dialog .modal-content {
    padding: 22px 30px;
    top: 50px;
}
#modal-6 .modal-header{
    border-bottom: 2px solid #bfbebe;
    min-height: 16.43px;
}
#modal-6 .modal-footer {
    border-top: none !important;
}
#modal-6 .form-group {
    margin-bottom: 0px;
}
.cv-folder-list .fa-folder-open{
    color: #ffcf67;
    font-size: 25px;
}
.cv-folder-list .text-aln{
    text-align: center;
}
.cv-folder-list .text-aln .folder-box{
    border: 1px solid #e8e8e8;
    padding: 10px 0px;
    max-height: 65px;
    position: relative;
}
.cv-folder-list .text-aln .folder-box .folder-box-remove{
    position: absolute;
    right: 3px;
    top: 2px;
}
.cv-folder-list .fa-file-word-o {
    color: #2196F3;
    font-size: 32px;
}
/*.contact-table table.table tr {
    border: none;
}*/
.contact-table table.table th {
    width: 20%;
}
.contact-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
    font-size: 12px;
    vertical-align: middle;
    color: #7d7d7d;
    padding: 10px;
}
.pack-box .pack-header .pricing li span{
    font-size: 20px;
}
.pack-box .pack-header .pricing li{
    display: block;
    font-size: 60px;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    color: #86af49;
}
.pack-box{
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    margin-bottom: 35px;
    margin-right: 0;
    padding: 20px;
    position: relative;
    text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}
.pack-box h3{
    display: block;
    font-size: 30px;
    padding-top: 30px;
    font-family: 'Dancing Script',cursive;
    font-weight: 100;
    background-color: #eee;
    border-radius: 2px 2px 0 0;
    margin: -20px -20px 10px -20px;
    padding: 20px;
    text-align: center;
}
.pack-box a{
    text-align: center;
    margin: 0 auto;
    display: block;
    width: max-content;
    padding: 6px 20px;
    background: #0a6f9e;
    border-color: #126e9d;
    margin-bottom: 30px;
}
.pack-box ul{
    list-style: none;
    padding: 0px;
}
.pack-box li{
    border-top: 1px solid #ddd;
    padding: 14px 0;
    color: #777;
}
.shortlist-folder-label ul{
    list-style: none;
    padding: 0px;
}
.shortlist-folder-label a{
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 8px 12px;
}
.shortlist-folder-label .fa-folder-open{
    color: #FFC107;
}
.short-list-span{
    /*float: right;*/
    /*margin-left: 20px;*/
    color: #3191c5;
    font-size: 15px;
    padding-top: 5px;
    font-weight: 400;
}
.fld-remove{
    color: red;
}
.fld-rename{
    color: #1a96df;
}
.shortlist-folder-label ul li{
    position: relative;
}
.shortlist-folder-label ul li:hover{
    background: #f1f1f1;
}
.shortlist-folder-label ul li .options{
    opacity: 0px;
    visibility: hidden;
    transition: ease-in-out 100ms;
    position: absolute;
    right: 0;
    top: 0;
}
.shortlist-folder-label ul li:hover .options{
    opacity: 1px;
    visibility: visible;
    transition: ease-in-out 100ms;
    right: 0;
    top: 0;
}
.shortlist-folder-label ul li .options li{
    float: left;
}
/****************************** Resume Style Start ************************************************/
.resume-panel{
    border: solid 1px #e1e1e1;
    border-radius: 2px;
    padding: 22px !important;
    position: relative;
}
.resume-panel h4{
    font-size: 18px;
    color: #222222;
    font-weight: 500;
}
.resume-panel .contact_details span strong {
    color: #333;
    font-size: 12px;
}
.resume-panel .contact_details span {
    display: block;
    padding-bottom: 8px;
    font-size: 12px;
    color: #7d7d7d;
}
.resume-panel .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    float: right;
}
.resume-panel .contact_details strong {
    line-height: 22px;
}
/****************************** Resume Style End   ************************************************/
.cv-contact .cv-contact-head{
    margin: 0px;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
}
.cv-contact-details .table>tbody>tr>th{
    border-top: 0px;
    font-size: 12px;
    vertical-align: middle;
    color: #7d7d7d;
    padding: 10px;
}
.cv-contact-details .table>tbody>tr>td{
    border-top: 0px;
    font-size: 12px;
    vertical-align: middle;
    color: #7d7d7d;
    padding: 10px;
}
.cv-contact-details table.table tr {
    border: none;
}
.cv-downlod .cv-dwn-head {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #2a7fbd;
    padding-left: 10px;
    font-weight: 600;
}
#industryTable{
    margin-top: 10px;
}
#skillTable{
    margin-top: 10px;
}
.emp-company-view h4{
    background: #403f3f;
    padding: 8px 10px;
    color: white;
    font-size: 15px;
}
.pad-lft{
    padding-left: 20px;
}
.pack-head{
    border: 1px solid #126e9d;
    padding: 8px 10px;
    color: #313030;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 30px !important;
}
.pack-head-span{
    float:right;
}
#pack-histry{
    /*    border: 1px solid #eae8e8;
        padding: 20px 20px;*/
    margin-top: 30px;
}
#pack-histry table tr th{
    background: transparent;
}
#pack-histry table{
    background: #f6f6f6;
}
.current_pack table{
    background: #f6f6f6;
}

/******************************* Navigation Bar **************************************************/
.navbar.horizontal-menu .navbar-inner>.nav>li {
    line-height: 50px;
    display: inline-block;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand {
    height: 50px;
}
.navbar.horizontal-menu .navbar-inner{
    padding: 5px 0;
}
.navbar.horizontal-menu {
    height: unset;
}
.navbar.horizontal-menu.navbar-fixed-top+.page-container {
    margin-top: 60px;
}
.navbar.horizontal-menu .navbar-inner .navbar-brand {
    padding: 0 5px;
}
@media screen and (max-width: 768px){
    .btop {
        border-top: none;
    }

    .shortlist-f-link {
        background: none;
    }
    .navbar.horizontal-menu {
        background: #fff;
        color: #2c2e2f;
        height: auto;
    }
    .navbar.horizontal-menu .navbar-inner>.nav.navbar-mobile a {
        color: #2c2e2f;
    }
    .navbar.horizontal-menu .navbar-inner {
        padding: 0px 0;
    }
    .mobile-menu-toggle a{
        padding-top: 15px;
    }
    .navbar.horizontal-menu .navbar-inner>.nav.navbar-mobile a:hover, .navbar.horizontal-menu .navbar-inner>.nav.navbar-mobile a:active, .navbar.horizontal-menu .navbar-inner>.nav.navbar-mobile a:focus {
        color: #2c2e2f;
    }
    .navbar.horizontal-menu.navbar-fixed-top+.page-container {
        margin-top: 0px;
    }
}
.horizontal-menu .navbar-inner .navbar-nav{
    display: none
}
@media screen and (min-width: 768px){
    .navbar.horizontal-menu .navbar-inner .navbar-nav>li>a {
        padding: 0 15px;
        line-height: 50px;
    }
}
@media screen and (min-width: 768px){
    .navbar.horizontal-menu .navbar-inner .navbar-nav>li {
        position: relative;
        z-index: 1;
        line-height: 50px;
        border: 1px solid transparent;
        border-top: 0;
        border-bottom: 0;
    }
}
@media screen and (max-width: 768px){
    .navbar.horizontal-menu .navbar-inner .navbar-nav {
        display: none;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 20px;
        list-style: none;
        margin-bottom: 0;
        background: #013c56;
    }
}
@media screen and (max-width: 768px){
    .navbar.horizontal-menu .navbar-inner .navbar-nav a {
        color: #ffffff;
        border-bottom: 1px solid #035679;
        text-decoration: none;
        display: block;
        padding: 13px 5px;
    }
}
@media screen and (max-width: 768px){
    .navbar.horizontal-menu .navbar-inner .navbar-nav a:hover {
        color: #fff;
        background: #004c6d;
    }
}
.navbar-inner .navbar-nav a:hover {
    color: #fff;
    background: #004c6d;
}
.navbar.horizontal-menu.navbar-fixed-top+.page-container>.sidebar-menu.fixed .sidebar-menu-inner {
    top: 85px;
}   
/*****************************************************Navigation Bar End ***********************/
.fright{
    float: right;
}
.mb0{
    margin-bottom: 0px;
}
.mtop60{
    margin-top: 60px !important;
}
.mtop15{
    margin-top: 15px;
}
.ptop0{
    padding-top: 0px !important;
}
.pl0{
    padding-left: 0px;
}
.pr0{
    padding-right: 0px;
}
.admin-users-index .panel-heading span ul li:last-child{
    margin-right: 0px;
}
.admin-users-index .panel-heading span ul li a{
    color: white;
    text-decoration: none;
}
.admin-users-index .panel-heading span ul li{
    float: left;
    margin-right: 15px;
}
.admin-users-index .panel-heading span ul{
    padding: 0px;
    list-style: none;
    float: right;
    margin-bottom: 0;
}
.admin-users-index .panel-heading span strong{
    margin-right: 10px;
}
.admin-users-index .panel-heading span{
    float: right;
}
.admin-users-index .panel-heading .panel-title{
    float: left;
}
.admin-users-index .panel-heading{
    background: #0474ba;
    color: white;
    display: inline-block;
    width: 100%;
}
.admin-users-index .select2-search-field input{
    background: white !important;
    padding: 6px 12px !important;
    height: 37px;
}
.admin-users-index .search-sec #filter-search .job-search button{
    width: 100%;
    height: 49px;
    margin-bottom: 0px;
    background: #0a3254;
    color: white;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}
.admin-users-index .search-sec #filter-search .job-search button:hover{
    color: #fff;
    background-color: #0773b9;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}
.admin-users-index .search-sec #filter-search .job-search .select2-search-field input{
    height: 48px;
    background: white !important;
}
.admin-users-index .search-sec #filter-search .job-search .form-control{
    height: 50px;
    border: none;
    border-right: 1px solid #e8e8e8;
}
.admin-users-index .search-sec #filter-search .job-search .form-group .help-block{
    display: none;
}
.admin-users-index .search-sec #filter-search .job-search .form-group{
    margin-bottom: 0px;
}
.admin-users-index .search-sec #filter-search .job-search{
    width: 100%;    
}
.admin-users-index .search-sec #filter-search{
    display: -webkit-box;
    margin-bottom: 0px;
}
.admin-users-index .search-sec{
    border: 1px solid #cccccc8f;
    margin: 15px 0;
    margin-bottom: 0px;
}
.nav-userinfo.user-profile-menu .user-footer btn{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.nav-userinfo.user-profile-menu .user-footer{
    background: #262626;
}
.admin-users-index .account-info{
    background: #2caef4;
    /*padding: 20px 30px;*/
}
.admin-users-index .account-info .top-box-btm{
    border: 1px solid white;
}
.admin-users-index .account-info .top-box-btm .color-white{
    color: white;
    text-align: center;
}
.admin-users-index .account-info .top-box-btm p{
    color: #fff;
}
.admin-users-index .mailbox-env .box .main-title{
    background: #0474ba;
    margin: 0px;
    padding: 10px 10px;
    color: white;
    margin-bottom: 0;
    font-size: 16px;
}
.admin-users-index .mailbox-env .box .job_title{
    padding: 7px 15px;
    background: #e8e8e8;
}
.admin-users-index .mailbox-env .box input.form-control{
    background: #e8e8e857;
    height: 26px;
}
.admin-users-index .mailbox-env .box{
    padding: 0px;
}
.admin-users-index .mailbox-env .box .page-heading{
    border: 1px solid #e1e1e1; 
}
.admin-users-index .page_listing .button-box{
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    padding: 20px;
    border-left: 1px solid #e1e1e1;
    padding-top: 20px;
    margin-left: -1px;
    padding-bottom: 20px;
}
.candidate .sorting_content .remove-shortlist{
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.85);
    border: 1px solid #ccc;
    color: #999;
    height: 28px;
    width: 32px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    transition: all .4s ease;
    padding: 6px;
    font-size: 14px;
    margin-top: 0px;
    border-radius: 3px;
}
.candidate .sorting_content .remove-shortlist:hover{
    background: #cc3f440d;
    border: 1px solid #f53c2e;
    color: #f53c2e;
}
.candidate .sorting_content .shortlist-folder{
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.85);
    border: 1px solid #ccc;
    color: #999;
    height: 32px;
    width: 32px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    transition: all .4s ease;
    padding: 6px;
    font-size: 17px;
    border-radius: 3px;
}
.candidate .sorting_content .shortlist-folder:hover{
    background: aliceblue;
    border: 1px solid #2caef4;
    color: #2caef4;
}
.candidate .sorting_content .contact_details .button-sec{
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.candidate .sorting_content .bottom_text{
    border-right: 1px solid #e1e1e1;
    margin-bottom: 5px;
    margin-top: 10px;
}
.candidate .sorting_content .contact_details span{
    font-size: 13px;
    line-height: 1.8;
}
.candidate .sorting_content .contact_details span strong{
    font-size: 12px;
    margin-right: 5px;
    font-weight: 500;
    color: #1b1b1b ;
    line-height: 1.8;
    float: left;
}
.sorting_content .unstyled strong{
    margin-right: 5px;
}
.sorting_content .unstyled{
    /*margin-bottom: 10px;*/
}
.text-shorting h1 strong{
    line-height: 15px;
}
.admin-users-index .search-min .contact_details{
    padding-left: 5px;
}
.admin-users-index .contact_details .search-min{
    margin-top: 10px;
    display: inline-block;
}
.admin-users-index .contact_details .firm{
    /*position: absolute;*/
    /*left: 10px;*/
    list-style: none;
    padding-left: 0px;
}
.admin-users-index .contact_details .firm li:before{
    content: "\f10c";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
}
.admin-users-index .contact_details .firm li{
    float: left;
    margin-right: 35px;
    font-size: 12px;
}
.admin-users-index .page_listing.candidate .summary{
    text-align: right;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    top: 15px;
}
.hide-summary .summary{
    display: none;
}
.shortlisted-page .candidate .sorting_content .bottom_text {
    border-right: 0px;
    margin-top: 10px;
}
.shortlisted-page .candidate .sorting_content #rightdiv {
    border-left: 1px solid #e1e1e1;
    margin-bottom: 0px;
}
.job-header {
    background: #fff;
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
}
.job-header .jobinfo {
    padding: 25px;
    border-bottom: 1px solid #e4e4e4;
}
.job-header .jobinfo .candidateinfo .userPic {
    float: left;
    width: 150px;
    height: 150px;
    background: #cbcbcb;
    margin-right: 20px;
    /*border: 5px solid #3192c5;*/
}
.job-header .jobinfo .candidateinfo .title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
}
.job-header .jobinfo .candidateinfo .desi {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}
.job-header .jobinfo .candidateinfo.cont-right{
    border-left: 1px solid #e4e4e4;
    padding: unset;
    padding-left: 20px;
}
.job-header .jobinfo .candidateinfo .loctext {
    line-height: 24px;
    color: #555;
    /*margin-top: 8px;*/
}
.job-header .jobinfo .candidateinfo .loctext i {
    width: 20px;
    color: #3192c5;
}
.cadsocial {
    margin-top: 10px;
}
.cadsocial .fa{
    font: normal normal normal 24px/1 FontAwesome;
}
.cadsocial a {
    color: #666;
    font-size: 24px;
    display: inline-block;
    margin-right: 7px;
}
.cadsocial a:hover {
    color: #3192c5;
}
.jobButtons {
    padding: 20px 25px;
}
.jobButtons a.apply {
    background: #0773b9;
    color: #fff;
}
.jobButtons .btn{
    border-radius: 0px;
}
.jobButtons a {
    background: #f0f0f0;
    margin-right: 10px;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}
.jobButtons a.report {
    background: #e01010;
    color: #fff;
}
.jobButtons a:hover {
    background: #222;
    color: #fff;
}
.job-header .contentbox {
    padding: 20px;
}
.job-header .contentbox .contact_details{
    padding-left: 10px !important;
}
.job-header .contentbox h3 {
    background: #403f3f;
    padding: 8px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
}
.job-header .contentbox p {
    line-height: 24px;
    color: #555;
    margin-bottom: 20px;
}
.job-header .contentbox ul {
    margin-bottom: 30px;
    margin-bottom: 30px;
    list-style: none;
    padding-left: 0;
}
.job-header .contentbox ul li {
    padding: 10px 0 10px 25px;
    position: relative;
    line-height: 1px;
} 
.job-header .contentbox ul.check-list li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #3191c5;
    position: absolute;
    left: 0;
}
.educationList {
    margin-bottom: 0 !important;
}
.educationList li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    margin-top: 30px;
}
.educationList li:last-child {
    border-bottom: 0;
}
.educationList li:hover {
    border-bottom-color: #0773b9;
}
.educationList li .date {
    width: 90px;
    height: 90px;
    background: #888;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    padding-top: 17px;
    line-height: 18px;
    float: left;
    color: #fff;
    margin-right: 20px;
}
.educationList li h4 {
    font-size: 18px;
    font-weight: 700;
    color: #3191c5;
    margin-bottom: 5px;
}
.job-header .contentbox p {
    line-height: 24px;
    color: #555;
    margin-bottom: 20px;
}
.educationList li p {
    margin-bottom: 0 !important;
}
.jobdetail {
    padding: 20px;
}
.jobdetail h3 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
}
.jbdetail {
    margin-top: 20px;
    padding-left: 0px;
    list-style: none;
}
.jbdetail li {
    margin-bottom: 10px;
    color: #908f8f;
}
.jbdetail li span {
    display: block;
    text-align: right;
    color: #000;
    font-weight: 600;
}
.jbdetail li span.permanent {
    color: #a8d815;
}
.jbdetail li span.freelance {
    color: #F07200;
    background: none;
    padding: 0;
}
.skillswrap {
    margin-top: 20px;
}
.skillswrap h5 {
    color: #7b7b7b;
    font-weight: 400;
    margin-bottom: 5px;
}
.formpanel {
    margin-top: 20px;
}
.formpanel .formrow {
    margin-bottom: 15px;
}
.formpanel .form-control {
    height: auto;
    border-radius: 0;
    padding: 10px 13px;
    border-color: #ddd;
}
.my-account .append-box{
    border: 1px solid #e1e1e1;
    padding: 30px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
}
/*.my-account .append-box:last-child{
    margin-bottom: 0px;
}*/
.my-account .append-box .remove:hover{
    background: #3191c5;
}
.my-account .append-box .remove{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    background: #444444;
    border: none;
    color: white;
    padding: 1px 6px;
    cursor: pointer;
}
.my-account .ember-text-area{
    width: 100%;
    height: auto;
    min-height: 125px;
    border-radius: 0;
    padding: 10px 13px;
    border-color: #ddd;
    text-transform: capitalize;
}
.has_job.looking i{
    color: #00000057
}
.unemployed{
    color: #21a55a !important;
}
.unemployed i{
    color: #21a55a !important;
}
.employed-looking{
    color: #f7ad4a !important;
}
.employed-looking i{
    color: #f7ad4a !important;
}
.cv-work-experience .contact_details{
    padding: 11px 15px;
    border: 1px solid #eceaea;
    margin-bottom: 20px;
}
.cv-work-experience .inner-tbl1{
    padding: 11px 15px;
    border: 1px solid #eceaea;
    margin-bottom: 20px;
}
.cv-work-experience .inner-tbl1 tr td{
    border: 1px solid #eceaea;
}
.cv-work-experience .inner-tbl1 tr th{
    border: 1px solid #eceaea;
}
.cv-work-experience .inner-tbl1 tr{
    border: 1px solid #eceaea;
}
.formrow label{
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.ispresent{
    border-radius: 0;
    padding: 10px 13px;
    border: 1px solid #ddd;
    text-transform: capitalize;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}
.choose-qualification{
    padding: 0px;
    list-style: none;
    position: absolute;
    right: 45px;
    top: 4px;
    z-index: 0;
}
.choose-qualification li{
    position: relative;
}
.choose-qualification label{
    color: #444444;
}
.choose-qualification .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.choose-qualification .option-input:hover {
    background: #9faab7;
}
.choose-qualification .option-input:focus{
    outline: none;
}
.choose-qualification .option-input:checked {
    background: #40e0d0;
}
.choose-qualification .option-input:checked::before {
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    top: -9px;
    left: 00px;
    right: 0px;
}
.choose-qualification .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.choose-qualification .option-input.radio {
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -25px;
}
.choose-qualification .option-input.radio::after {
    border-radius: 50%;
}
#forgot-password-sec #form{
    clear: both;
    padding: 80px 0;
    width: 30%;
    margin: 0 auto;
}
#forgot-password-sec{
    background: url(../images/home/BG2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#forgot-password-sec .form-group label {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0px;
}
.dark-overlay{
    width: 100%;
    background: #00000045;
    position: absolute;
    height: 100%;
}
.display-inblock{
    display: inline-block;
}
.employer-cv-view .shortlist-folder i{
    font-size: 17px;
    margin-right: 5px;
}
.employer-cv-view .shortlist-folder {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.85);
    border: 1px solid #ccc;
    color: #999;
    height: 32px;
    width: 32px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    transition: all .4s ease;
    padding: 6px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 400;
    text-transform: capitalize;
    width: auto;
    text-decoration: none;
}
.employer-cv-view .shortlist-folder:hover {
    background: aliceblue;
    border: 1px solid #2caef4;
    color: #2caef4;
}
.employer-cv-view .download-cv i{
    font-size: 17px;
    margin-right: 5px;
}
.employer-cv-view .download-cv {
    font-size: 15px;
    width: auto;
    color: #6d6d6d;
    display: inline-block;
    border: 1px solid #6d6d6d;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    line-height: 1.5;
    height: 32px;
    padding: 6px 10px;
}
.contact_details span {
    line-height: 24px;
    color: #555;
    display: block;
    padding-bottom: 8px;
    font-size: 13px;
    text-transform: capitalize;
}
.user-media.twitter{ background-color: #55acee !important;}
.user-media.linke{ background-color: #2876b4 !important;}
.user-media.google{ background-color: #dd4b39 !important;}
.contact_details span{
    line-height: 24px;
    color: #555;
    display: block;
    padding-bottom: 0px;
    font-size: 13px;
    text-transform: capitalize;
}
.contact_details span strong{ 
    color: #333;
    font-size: 13px;
    font-weight: 600;
}
.contact_details span i{ padding-right: 8px; color: #333;}
/*.contact_details span a{ color: #2190c9; text-decoration: underline; font-weight: 500;}*/
.resume .panel-body{ margin-bottom: 20px;}
.resume2 .borderfull-width{
    margin: 0px;
}
.resume .job-search{ padding-top: 0px;  padding-bottom: 25px;}
.resume .form-control{ border: solid 1px #e1e1e1;
                       border-radius: 4px;}
.category{ overflow: hidden;}
.category label {
    font-size: 13px;
    color: #333;
    font-weight: 500;
}
.filter p, .bottom_text p{ padding-top: 3px;  color: #7d7d7d; font-size: 13px;}
.listing-banner{
    background: url(../images/listing-banner.jpg) no-repeat left top/cover;
}
.page_listing{
    overflow: hidden;
    border-bottom: 0px;
}
.sorting_content{
    border: solid 1px #e1e1e1;
    padding-top: 0px;
    overflow: hidden;
    /*border-bottom: solid 1px #e1e1e1;*/
    margin-bottom: 15px;
}
.text-shorting h1{
    font-size: 16px;
    color: #333;
    line-height: 22px;
    font-weight: 500;
    margin: 0px;
}
.bottom_text {
    overflow: hidden;
}
.text-shorting {
    overflow: hidden;
}
.text-shorting p{
    color: #7d7d7d;
    font-size: 13px;
}
.job-header .contentbox ul li:before{
    content: "-";
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 8px;
    color: #615e5e;
    font-size: 13px;
}
.job-header .contentbox ul li{
    padding-left: 0px;
}
.wrk-exp{
    display: inline-block;
    color: #403f3f;
    font-style: italic;
}
.executive-sum-cont h3{
    padding-left: 0px !important;
    background: transparent !important;
    color: #333 !important;
    font-size: 18px !important;
}
.fright span{
    margin-top: 34px;
}
.navbar.horizontal-menu .navbar-inner>.nav>li .dropdown-menu.user-profile-menu{
    margin-top: 8px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 1, 1, 0.37);
    -moz-box-shadow: 0 2px 8px rgba(0,1,1,.05);
    box-shadow: 0 2px 8px rgba(0, 1, 1, 0.37);
    border: none;
}
.packages-index .package-button-sec{
    margin-top: 15px;
    padding: 0px 30px;
}
.packages-index .panel{
    padding: 35px 30px;
}
.packages-index .button1 i{
    font-size: 17px;
    margin-right: 5px;
    margin-top: -5px;
}
.packages-index .button1{
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.85);
    border: 1px solid #ccc;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    transition: all .4s ease;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 400;
    text-transform: capitalize;
    width: auto;
    text-decoration: none;
    margin: 0px;
}
.packages-index .panel-heading h3{
    float: left;
}
.packages-index .panel-heading.sub{
    background: #403f3f !important;
}
.packages-index .panel-heading{
    background: #0474ba;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.packages-index .package-status .pack-head{
    margin-bottom: 0px;
    padding: 5px 15px;
    color: #fff;
    font-size: 13px;
    line-height: 26px;
    border: 1px solid white;
    margin-bottom: 0px !important;
}
.packages-index .package-status{
    background: #2caef4;
    padding: 20px 30px;
    display: inline-block;
    width: 100%;
}
.package-details .resume-panel h4{
    background: #403f3f !important;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    margin-top: 0px;
}
.package-details .resume-panel .page-heading{
    padding: 20px 20px;
}
.package-details .resume-panel{
    padding: 0px !important;
}
.package-details .package-button-sec {
    margin-top: 15px;
    padding: 0px 30px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.package-details .button1 {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    background-color: hsla(0,0%,100%,.85);
    border: 1px solid #ccc;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    transition: all .4s ease;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 400;
    text-transform: capitalize;
    width: auto;
    text-decoration: none;
    margin: 0px;
}
.package-details .button1 i {
    font-size: 17px;
    margin-right: 5px;
    margin-top: -5px;
}
.admin-users-index .employee-create .btn-success{
    display: inline-block;
    cursor: pointer;
    border-radius: 0px !important;
    background-color: #2caef4;
    border: 0px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    transition: all .4s ease;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 400;
    text-transform: capitalize;
    width: auto;
    text-decoration: none;
    margin: 0px;
}
.admin-users-index .employee-create .btn-reset{
    background-color: #0474ba;
}
.panel-pricing:hover{
    box-shadow: 0px 2px 12px -4px #000000b8;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.panel-pricing {
    border: solid 1px #b1afaf40;
    text-align: center;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.panel-pricing .panel-heading i{

    background: #2caef4;
    border: 5px solid #FFF;
    border-radius: 100px;
    box-shadow: 0 5px 20px #0474ba inset, 0 3px 0 #0474ba inset;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
    left: 0px;
    right: 0px;
    position: absolute;
    top: -40px;
    width: 100px;
    font-size: 30px;
}
.panel-pricing .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
}
.panel-pricing .panel-heading h3 {
    font-size: 30px;
    float: none;
    font-family: 'Dancing Script',cursive;
    margin-top: 60px;
} 
.panel-pricing .display-2 {
    font-size: 50px;
    color: #ffffff;
    border: solid 1px #e1e1e1;
    padding: 30px;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-left: 0px;
    border-right: 0px;
    background: #2caef4;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
}
.panel-pricing .display-2 .currency {
    font-size: 20px;
    position: relative;
    top: -45px;
    letter-spacing: 0px;
}
.panel-pricing .display-2 .period {
    font-size: 20px;
    font-weight: 300;
}
.panel-pricing .panel-footer a{
    width: 100%;
    background: #2caef4;
    margin-bottom: 0px;
    color: white;
}
.panel-pricing .list-group-item {
    color: #7d7d7d;
    border: none;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 36px;
}
.user-profile-menu .user-footer .signin{
    padding: 9px 20px !important;
    color: white !important;
}
.user-profile-menu .user-footer .sign-out{
    padding: 9px 20px;
    margin-bottom: 0px;
    border: none;
    background: transparent;
    color: white;
}
.fa-qualification:before{
    content: "";
    background: url(../images/icons/certificate.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: -4px;
}
.fa-jobstatus:before{
    content: "";
    background: url(../images/icons/employee.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: -4px;
}
.fa-nationality:before{
    content: "";
    background: url(../images/icons/flag.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-bottom: -4px;
}
.candidate .sorting_content .contact_details span {
    font-size: 12px;
    line-height: 1.8;
}

.refid span {
    text-transform: initial;
    text-align: right;
    float: right;
}
#rightdiv {
    margin-top: 10px;
}
.admin-users-index .page_listing .button-box .button-sec{
    margin-top: 5px;
}
.admin-users-index .page_listing .button-box {
    display: inline-block;
    width: 100%;
    padding: 10px 20px 0px 20px;
    border-left: 1px solid #e1e1e1;
    margin-left: -1px;
}
.refid{
    position: absolute;
    top: -20px;
    padding-right: 0;
}
.refid span strong{
    color: white !important;
}
.refid span{
    text-transform: initial;
    text-align: right;
    float: right;
    background: #2caef4;
    color: white;
    padding: 0 10px;
}
.admin-users-index .employed-still-looking{
    margin-top: 5px;
}
.employed-still-looking{
    background: #ffca31;
    border-radius: 30px;
    width: fit-content;
    padding: 0px 30px;
    color: white !important;
}
.admin-users-index .employed-not-looking{
    margin-top: 5px;
}
.employed-not-looking{
    background: #f8222e;
    border-radius: 30px;
    width: fit-content;
    padding: 0px 30px;
    color: white !important;
}
.admin-users-index .actively-looking{
    margin-top: 5px;
}
.actively-looking{
    background: #00b24e;
    border-radius: 30px;
    width: fit-content;
    padding: 0px 30px;
    color: white !important;
}
.skills-sec{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.skills-sec span{
    margin: 0px;
}
.skills-sec .skills-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.skills-sec .skills-list li{
    float: left;
    background: #eeeef0;
    border-radius: 30px;
    color: black;
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 10px;
}
#rightdiv{
    margin-top: 10px;
}
.navbar.horizontal-menu .navbar-inner>.nav>li>a:hover {
    background: none;
}
.sidebar-menu .ps-scrollbar-x-rail .ps-scrollbar-x, .sidebar-menu .ps-scrollbar-y-rail .ps-scrollbar-y {
    background-color: rgba(255, 255, 255, 0);
}